cmcrameri==1.9
contourpy==1.3.3
cx_Freeze==8.5.0
cycler==0.12.1
filelock==3.20.0
fonttools==4.61.1
freeze-core==0.4.2
kiwisolver==1.4.9
matplotlib==3.10.8
numpy==2.3.5
packaging==25.0
patchelf==0.17.2.4
pillow==12.0.0
pyparsing==3.2.5
PyQt5==5.15.11
PyQt5-Qt5==5.15.18
PyQt5_sip==12.17.2
python-dateutil==2.9.0.post0
scipy==1.16.3
setuptools==80.9.0
six==1.17.0
